---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title='Welcome to CVV TheoScience.'>
    <main>
        <img src='/logo.svg' alt='CVV Theoscience' class='logo' />
        <h1>Welcome to <span class='text-gradient'>CVVTheoScience</span></h1>
        <p class='instructions'>
            To get started with your spiritual journey, click on any of the
            following <code>cards</code>
        </p>
        <ul role='list' class='link-card-grid'>
            <Card
                href='https://www.youtube.com/watch?v=Gzu9LGYDSx8'
                title='Videos'
                body='Learn through video sessions.'
            />
            <Card
                href='https://www.youtube.com/watch?v=Gzu9LGYDSx8'
                title='Audio'
                body='Listen to multiple instructions with our audio files.'
            />
            <Card
                href='https://drive.google.com/file/d/1G-GTfIZdDdonuM_c8EeKvVgHQnDWvUFD/view'
                title='Documents'
                body='Explore a plathora of knowledge with our guides.'
            />
            <Card
                href='tel:+91-9849522671'
                title='Contact Us'
                body='Satya yoga Sadhaka Mandali, Piduguralla yoga school – Piduguralla –Guntur Dt. A.P. India Guide Sri.J.Narayana Murthy- +919849522671. nmjanapati@gmail.com'
            />
        </ul>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }
    .astro-a {
        position: absolute;
        top: -32px;
        left: 50%;
        transform: translatex(-50%);
        width: 220px;
        height: auto;
        z-index: -1;
    }
    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 1em;
    }
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
    .instructions {
        margin-bottom: 2rem;
        border: 1px solid rgba(var(--accent-light), 25%);
        background: linear-gradient(
            rgba(var(--accent-dark), 66%),
            rgba(var(--accent-dark), 33%)
        );
        padding: 1.5rem;
        border-radius: 8px;
    }
    .instructions code {
        font-size: 0.8em;
        font-weight: bold;
        background: rgba(var(--accent-light), 12%);
        color: rgb(var(--accent-light));
        border-radius: 4px;
        padding: 0.3em 0.4em;
    }
    .instructions strong {
        color: rgb(var(--accent-light));
    }
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 2rem;
        padding: 0;
    }
    .logo {
        text-align: center;
        width: 400px;
        height: 400px;
        position: absolute;
        top: 0;
        left: calc(50% - 200px);
        z-index: -1;
        opacity: 0.3;
    }
</style>
